/*
Name: Jaskarn Singh
File: hw4-style.css
Date Created: 2024-09-09
Date Updated: 2024-11-16
Purpose: Stylesheet for MIS 7375 HW4
*/

/*
I added some basic styling for all three html pages. I also changed the font for the h1
and p tags. I kept the white background but made the table light green with a black ridge
border. I added 5% paddding to the right for alignment. I also aligned the text right.
I also changed the background color of the thank you page to a aqua marine color.
I used a few IDs which I could stylize those specific tags.

*/
body{
    background-color: white;
}
h1,h2,h3{
    font-family: Arial, Helvetica, sans-serif;
} 
p{
    font-family: Arial, Helvetica, sans-serif;
}
table,tr,td{
    border: 1px dashed black;
}
#maintable{
    padding-right: 5%;
    text-align: right;
    background-color: lightgreen;
    border: 1px ridge black;
}
#localdate{
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img{
    width: 400px;
    height: 200px;
}
#ttable{
    text-align: left;
}
#thankyou{
    background-color: aquamarine;
}
#whyinfo{
    background-color: thistle;
}
.header {
  position: sticky;
  top: 0;
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #555;
   color: #f1f1f1;
   text-align: center;
}
